<h1>Artists</h1>

<%= form_tag '/artists', method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: 'search' %>
<% end %><br>

<%= will_paginate @artists %><br><br>

<table>
  <tr>
    <th><%= sortable_header('Name') %></th>
  </tr>
  <% @artists.each do |artist| %>
    <tr>
      <td><%= link_to artist.Name, "/artists/#{artist.ArtistID}" %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @artists %>
