<h1><%= @artist.Name %></h1>

<%= will_paginate @torrent_groups %>

<table>
  <tr>
    <th><%= sortable_header('Name') %></th>
    <th><%= sortable_header('Year') %></th>
    <th><%= sortable_header('CatalogueNumber') %></th>
    <th><%= sortable_header('RecordLabel') %></th>
    <th><%= sortable_header('Tags', 'TagList') %></th>
    <th><%= sortable_header('ReleaseType') %></th>
  </tr>
<% @torrent_groups.each do |group| %>
  <tr>
    <td><%= link_to group.Name, "/groups/#{group.ID}" %></td>
    <td><%= group.Year %></td>
    <td><%= link_to_discogs group.CatalogueNumber %></td>
    <td><%= group.RecordLabel %></td>
    <td><%= group.TagList %></td>
    <td><%= group.release_type_name %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @torrent_groups %>
