<h1><%= @artist.Name %></h1>

<table>
  <tr>
    <td>
      <img class="js-image" style="max-width: 250px">
    </td>
    <td>
      <div class="js-bio"></div>
      <a class="js-read-more" style="display:none">Read more on Last.fm</a>
    </td>
  </tr>
</table>

<select class="js-type-filter" style="float:right">
  <option value="0" selected>All Releases</option>
  <option value="1">Albums</option>
  <option value="3">Soundtracks</option>
  <option value="5">EPs</option>
  <option value="6">Anthologies</option>
  <option value="7">Compilations</option>
  <option value="9">Singles</option>
  <option value="11">Live albums</option>
  <option value="13">Remixs</option>
  <option value="14">Bootlegs</option>
  <option value="15">Interviews</option>
  <option value="16">Mixtapes</option>
  <option value="21">Unknowns</option>
  <option value="23">Demos</option>
</select>

<table>
  <tr>
    <th><%= sortable_header('Name') %></th>
    <th><%= sortable_header('Year') %></th>
    <th><%= sortable_header('CatalogueNumber') %></th>
    <th><%= sortable_header('RecordLabel') %></th>
    <th><%= sortable_header('Tags', 'TagList') %></th>
    <th><%= sortable_header('ReleaseType') %></th>
  </tr>
<% @torrent_groups.each do |group| %>
  <tr class="js-release js-release-type-<%= group.ReleaseType %>">
    <td><%= link_to group.Name, "/groups/#{group.ID}" %></td>
    <td><%= group.Year %></td>
    <td><%= link_to_discogs group.CatalogueNumber %></td>
    <td><%= group.RecordLabel %></td>
    <td><%= group.TagList %></td>
    <td><%= group.release_type_name %></td>
  </tr>
<% end %>
</table>

<% content_for :javascript do %>
<script>
  function truncateString(str, length) {
    return str.length > length ? str.substring(0, length - 3) + '...' : str
  }

  <% begin %>
  $.getJSON('http://ws.audioscrobbler.com/2.0/?method=artist.getInfo&artist=<%= @artist.Name %>&api_key=a0cdf76d44c313ba809c1f1afb312240&format=json', function(data) {
    var info = data.artist
    $('.js-image').attr('src', info.image[4]['#text'])
    $('.js-bio').html(truncateString(info.bio.content, 1000));
    if (info.bio.content.length > 1000) {
      $('.js-read-more').show();
      $('.js-read-more').attr('href', info.url);
    }
    console.log(info);
  });
  <% rescue; end %>

  function do_filters() {
    var rows = $('.js-release');
    var type = $('.js-type-filter').val();
    rows.each(function (index) {
      title = $(this).children(".js-title").html()
      if (type == '0' || type == undefined || $(this).hasClass("js-release-type-" + type)) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  }

  $('.js-type-filter').change(function() {
    do_filters();
  })
</script>
<% end %>
