<h1><%= @collage.Name %></h1>

<b>Tags:</b> <%= @collage.TagList %><br>
<b>Last Updated:</b> <%= @collage.updated %>

<table>
  <tr>
    <th><%= sortable_header('Artist', 'a.Name') %></th>
    <th><%= sortable_header('Group Name', 'tg.Name') %></th>
    <th><%= sortable_header('CatalogueNumber', 'tg.CatalogueNumber') %></th>
    <th><%= sortable_header('Year', 'tg.Year') %></th>
    <th><%= sortable_header('RecordLabel', 'tg.RecordLabel') %></th>
  </tr>
  <% @torrents.each do |torrent| %>
    <tr>
      <td><%= link_to torrent.first, "/artists/#{torrent[1]}" %></td>
      <td><%= link_to torrent.last, "/groups/#{torrent[2]}" %></td>
      <td><%= link_to_discogs torrent[3] %></td>
      <td><%= torrent[4] %></td>
      <td><%= torrent[5] %></td>
    </tr>
  <% end %>
</table>
